#card-holder {
  height: 100%;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 220px;
  height: 288px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.15);

  /* box-shadow: 0 1px 2px rgba(68, 68, 68, 0.15); */
  transition: all 0.3s ease-in-out;
  margin: 1rem;
}

.card::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

/* Scale up the box */
.card:hover {
  transform: scale(1.2, 1.2);
}

/* Fade in the pseudo-element with the bigger shadow */
.card:hover::after {
  opacity: 1;
}

.card > .img-container {
  height: 100%;
}

.card > .img-container > img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.clickMsg {
  text-align: center;
}
